body
{
    background: linear-gradient(-45deg, red 60%, blue 60%);
    padding: 50;
    text-align: center;
}

.center
{
    width: 50%;
    height: 50%;
    position: fixed;
    top: 35%;
    left: 23%;
}

.aboutus
{
    width: 95%;
    height: 30%;
    position: fixed;
    top: 0%;
    left: 3%;
}