/*.button {
    border: 1px solid black;
    position: fixed;
    top: 68%;
    z-index: 1;
    left: 47%;
    height: 100px;
    width: 200px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: #29D;
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 230, 0);
    size: 10;
    border-radius: 100px;
}*/

.present {
    z-index: 1;
    position: fixed;
    top: 40%;
    left: 40%;
}

* {
    margin: 0;
    padding: 0;
    font-family: consolas;
    box-sizing: border-box;
}

body {
    position: fixed;
    top: 63%;
    left: 35%;
    border-radius: 10px;
}

.huh {
    z-index: 2;
}

section
{
    height: 100v;
    background: #000;
}

video
{
    object-fit: cover;
}

h1
{
    z-index: 2;
    margin: 0;
    padding: 0;
    position: fixed;
    top: 50%;
    left: 0%;
    transform: translateY(-50%);
    width: 100%;
    text-align: center;
    color: #ddd;
    font-size: 5em;
    font-family: sans-serif;
    letter-spacing: 0.1em;
}

.black
{
    opacity: 1;
    filter: blur(0);
    animation: black2 8s linear forwards;
}

@keyframes black2
{
    0%
    {
        opacity: 1;
        filter: blur(0);
    }
    100%
    {
        opacity: 0;
        filter: blur(10px);
        display: none;
        z-index: 0;
        size: 0;
    }
}

h1 span 
{
    display: inline-block;
    animation: animate 8s linear forwards;
}

.settingsBack
{
    height: 35%;
    width: 47%;
    position: fixed;
    top: 45%;
    left: 26%;
    z-index: 1;
}

@keyframes animate
{
    0%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
    50%
    {
        opacity: 1;
        transform: rotateY(0deg);
        filter: blur(0);
    }
    100%
    {
        opacity: 0;
        transform: rotateY(90deg);
        filter: blur(10px);
    }
}

@keyframes animatebg
{
    0%
    {
        opacity: 1;
    }
    100%
    {
        opacity: 0;
    }
}

a {
    position: relative;
    display: inline-block;
    padding: 25px 30px;
    margin: 40px 0;
    color: #03e9f4;
    font-size: 24px;
    text-decoration: none;
    text-transform: uppercase;
    /*overflow: hidden;*/
    transition: 0.5s;
    letter-spacing: 7px;
}

a:hover {
    background: #03e9f4;    
    color: #050801;
    box-shadow: 0 0 5px 03e9f4,
                0 0 25px 03e9f4,
                0 0 50px 03e9f4,
                0 0 200px 03e9f4;
}

a:nth-child(1)
{
    filter: hue-rotate(200deg);
}
a:nth-child(3)
{
    filter: hue-rotate(110deg);
}

.shadow {
    z-index: 2;
    background: linear-gradient(0deg, #000, #262626);
}

.shadow::before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    background: linear-gradient(45deg, #fb0094, #0000ff #00ff00, #ffff00, #ff0000);
    width: 100%;
    height: 100%;
}

.title-overlay {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background-color: black;
    animation: animatebg 10s linear forwards;
    z-index: 2;
}

.red {
    border: 1px solid black;
    position: relative;
    top: 500px;
    z-index: 1;
    left: 950px;
    height: 350px;
    width: 250px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(165, 221, 34);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 230, 0);
    size: 10;
    border-radius: 10px;
}

.backButton {
    border: 1px solid black;
    position: relative;
    top: 900px;
    z-index: 1;
    left: 1180px;
    height: 100px;
    width: 200px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 230, 0);
    size: 10;
    border-radius: 10px;
}

.VIP {
    border: 1px solid black;
    position: fixed;
    top: 65%;
    z-index: 1;
    left: 30%;
    height: 200px;
    width: 1000px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(221, 177, 34);
    box-shadow: 0px 10px #BBB;
    color: rgb(0, 255, 76);
    size: 10;
    border-radius: 10px;
}

.earn {
    border: 1px solid black;
    position: fixed;
    top: 65%;
    z-index: 1;
    left: 30%;
    height: 200px;
    width: 1000px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 230, 0);
    size: 10;
    border-radius: 10px;
}

.restart {
    border: 1px solid black;
    position: fixed;
    top: 53%;
    z-index: 1;
    left: 60%;
    height: 100px;
    width: 200px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 10px #BBB;
    color: rgb(0, 47, 255);
    size: 10;
    border-radius: 10px;
}


.died {
    border: 1px solid black;
    position: fixed;
    top: 30%;
    z-index: 1;
    left: 30%;
    height: 200px;
    width: 1000px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 10px #BBB;
    color: rgb(0, 47, 255);
    size: 10;
    border-radius: 10px;
}

.home {
    border: 1px solid black;
    position: fixed;
    top: 53.09%;
    z-index: 1;
    left: 40%;
    height: 100px;
    width: 200px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 10px #BBB;
    color: rgb(0, 255, 55);
    size: 10;
    border-radius: 10px;
}

.square {
  height: 200px;
  width: 200px;
  background-color: rgb(255, 255, 255);
  z-index: 2;
  position: fixed;
  top: 70%;
  left: 47%;
  animation: fade 5s linear forwards;
}

@keyframes fade
{
    0% 
    {
        opacity: 0;
        filter: blur(10);
    }
    100%
    {
        opacity: 1;
        filter: blur(0);
    }
}

.sidemenu
{
    position: fixed;
    top: 0px;
    left: 0px;
    height: 100%;
    width: 0px;
    background-color: #222;
    z-index: 1;
    padding-top: 100px;
    overflow-x: hidden;
    transition: all .5s;
}

.closebtn
{
    position: fixed;
    left: 5%;
    right: 5%;
    color: white;
}

#mainbox
{
    font-size: 24px;
    cursor: pointer;
    transition: all .6s;
}

.sidemenu a
{
    padding: 8px 8px 8px 64px;
    text-decoration: none;
    font-size: 20px;
    color: #999;
    display: block;
}

.sidemenu a:hover
{
    color: white;
}

.hibutt
{
    position: fixed;
    top: 0%;
    left: 0%;
}

.sidemenu .closebtn
{
    position: absolute;
    top: 0px;
    right: 0px;
    font-size: 36px;
    margin-left: 32;
}
.first {
    height: 250px;
    width: 250px;
    position: fixed;
    top: 44%;
    left: 46%;
    z-index: 1;
}

.second {
    height: 250px;
    width: 250px;
    position: relative;
    top: 600px;
    left: 250px;
    z-index: 1;
}

.score {
    position: fixed;
    top: 27%;
    left: 32%;
    z-index: 1;
    height: 100;
    width: 10;
}

.hi {
    position: fixed;
    top: 27%;
    left: 29%;
    z-index: 1;
    height: 100;
    width: 10;
}

.close {
    border: 1px solid black;
    position: fixed;
    top: 50%;
    z-index: 1;
    left: 45%;
    height: 100px;
    width: 200px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: #29D;
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 230, 0);
    size: 10;
    border-radius: 100px;
}

.rate {
    border: 1px solid black;
    position: fixed;
    top: 90%;
    z-index: 1;
    left: 45%;
    height: 100px;
    width: 200px;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 0, 0);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 230, 0);
    size: 10;
    border-radius: 10px;
    animation: bounce 5s infinite;
}

@keyframes bounce {
    0% {
        transition-delay: 10s;
    }
    50% {
        transition-delay: 2s;
        transform: translateY(180px)
    }
}

.directions {
    border: 1px solid black;
    position: fixed;
    top: 26%;
    z-index: 3;
    left: 30%;
    height: 750px;
    width: 1000px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(47, 105, 122);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 196, 107);
    size: 10;
    border-radius: 100px;
}

.motor {
    border: 1px solid black;
    position: fixed;
    top: 26%;
    z-index: 1;
    left: 37%;
    height: 150px;
    width: 700px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(255, 0, 0);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 230, 0);
    size: 10;
    border-radius: 10px;
}

.right {
    border: 1px solid black;
    position: fixed;
    top: 50%;
    z-index: 1;
    left: 60%;
    height: 60px;
    width: 160px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 0, 208);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 255, 255);
    size: 10;
    border-radius: 100px;
}

.left {
    border: 1px solid black;
    position: fixed;
    top: 50%;
    z-index: 1;
    left: 35%;
    height: 60px;
    width: 160px;
    font-size: xxx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(250, 0, 208);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 255, 255);
    size: 10;
    border-radius: 100px;
}

/*.Settings {
    border: 1px solid black;
    position: fixed;
    top: 70%;
    z-index: 1;
    left: 32%;
    height: 60px;
    width: 200px;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(58, 250, 0);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 230, 0);
    size: 10;
    border-radius: 10px;
}*/

.shop {
    border: 1px solid black;
    position: fixed;
    top: 27%;
    z-index: 1;
    left: 65%;
    height: 60px;
    width: 200px;
    font-size: xx-large;
    color: rgb(255, 255, 255);
    background-color: rgb(0, 250, 217);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 230, 0);
    size: 10;
    border-radius: 10px;
}

/*.HowToPlay {
    border: 1px solid black;
    position: fixed;
    top: 70%;
    z-index: 1;
    left: 62%;
    height: 64px;
    width: 190px;
    font-size: x-large;
    color: rgb(255, 255, 255);
    background-color: rgb(171, 0, 250);
    box-shadow: 0px 10px #BBB;
    color: rgb(255, 230, 0);
    size: 10;
    border-radius: 10px;
}*/


body {
    height: 100vh;
    background: 
        linear-gradient(45deg, rgb(51, 51, 51), transparent),
        repeating-linear-gradient(45deg, rgb(53, 53, 53) 0%, rgb(90, 90, 90) 5%, transparent 5%, transparent 10%),
        rgb(41, 41, 41) repeating-linear-gradient(-45deg, rgba(65, 65, 65, 0.5) 0%, rgba(65, 65, 65, 0.5) 5%, transparent 5%, transparent 10%);
}

.center {
    border: 10px solid black;
    position: fixed;
    top: 24.3%;
    left: 24.6%;
    width: 1280px;
    height: 780px;
}

.centered {
    border: 1px solid black;
    position: fixed;
    top: 24.3%;
    left: 24.6%;
    width: 1280px;
    height:780px;
}


.title {
    position: fixed;
    top: 15%;
    left: 40%;
    font-size: xxx-large;
    width: 1280px;
    height: 800px;
}

.front {
    position: fixed;
    top: 35%;
    left: 40%;
    font-size: xxx-large;
    width: 1280px;
    height: 800px;
}

